# LAVANYA A S

# DAY 1 : 02-03-22

In [ ]:
print('****some introduction on python****')

****some introduction on python****

# DAY 2 : 03-03-22

**Data Types**

In [ ]:
# Integer
# Pre-defined functions

type(1)

int

In [ ]:
# do this 
#write the value 12.4 and tell me the output
type(12.4)

float

In [ ]:
type('string')

str

In [ ]:
type("string")

str

In [ ]:
# To - do 
type('2')

str

In [ ]:
#complex numbers
type(1j + 2)

complex

In [ ]:
#list []
list = ["apple", "banana", "cherry"]

In [ ]:
#List 
type([1,2,3,4,4,5,6])

list

In [ ]:
# TO do
# Make a list and tuple mentioning each data type
li=[tuple,set,dict,list,str]
type(li)

list

In [ ]:
tuple=(tuple,set,dict,list,str)
type(tuple)

tuple

In [ ]:
#tuple
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

tuple

In [ ]:
type(('2','3','4','5'))

tuple

In [ ]:
# Tuple ()
type((1,2,34,5,6))

tuple

In [ ]:
#Dictionary {}
Expression - {key:value, key1:value1}

In [ ]:
{'Name':'Raju', 'Roll_no': 234, 'Age':26, 'Address':'fwkjgfiygku'}

{'Address': 'fwkjgfiygku', 'Age': 26, 'Name': 'Raju', 'Roll_no': 234}

In [ ]:
type({'Name':'Raju', 'Roll_no': 234, 'Age':26, 'Address':'fwkjgfiygku'})

dict

In [ ]:
#Make a dictionary adding your Name and your basic details

In [ ]:
dict={'name':'lavanya','college':'bmsit','age':23,'course':'mca'}
print(dict)

{'name': 'lavanya', 'college': 'bmsit', 'age': 23, 'course': 'mca'}

In [ ]:
#Print function
print("Hello my name is lavanya and i am student.")

Hello my name is lavanya and i am student.

In [ ]:
print(1)

1

In [ ]:

# MVP should be realistic rather than idealistic. It should be conservative rather than ambitious. If all else fails, knowing that you achieve your MVP is a huge accomplishment.

In [ ]:
#To do 
# You have to print the type of the data and store it
str1 = 'Hello my name is lavanya and I am a student in bmsit'

In [ ]:
str1

'Hello my name is lavanya and I am a student in bmsit'

### Data operators -

In [ ]:
34 * 65

2210

In [ ]:
a = 35
b = 65

# Exponention
print("exponent")
a**b

#store into a variable and print the variable

exponent

23143171985618148385244286678913597734970588950324139906433544566777271711544017307460308074951171875

In [ ]:
# addition
print("addition")
a+b

addition

100

In [ ]:
# substraction
print("substraction")
a-b

substraction

-30

In [ ]:
# multiplication
print("multiplication") 
a*b

multiplication

2275

In [ ]:
# division
print("division")
a/b

division

0.5384615384615384

In [ ]:
# floor division
print("floor division")
a//b

floor division

0

Relation operator

In [ ]:
#equal
34 == 25

False

In [ ]:
#greater than
34>45

False

In [ ]:
#less than
34<45

True

In [ ]:
#not equal
34!=45

True

Assignment operators

In [ ]:
x = 12

In [ ]:
x+=2
print(x)

14

In [ ]:
x*=3

In [ ]:
print(x)

42

# Python Logical Operators

1. And
2. Or
3. Not

In [ ]:
#and operators

23<45 and 49 != 49 and 2 == 2

False

In [ ]:
# Or operator
23<45 or 49 != 49 or 2 == 2

True

In [ ]:
# not operator

not('lavi' == 'Lavi')

True

In [ ]:
'lavi' == 'Lavi'

# DAY 3 : 04-03-22

What are sequences in Python




Squences are containers with items that are accessible by the indexing or string.



1.   concatenation
2.   repeatation
3.   membership
4.   slicing
5.   indexing

In [ ]:
#manipulation
#list
#to do list
lst=[1,2,3,4,5,6]

In [ ]:
len(lst)

6

In [ ]:
#append
lst.append(7)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 7]

In [ ]:
#insert
ins=[4,5,6,7]
ins.insert(3,8)
print(ins)

[4, 5, 6, 8, 7]

In [ ]:
# to -do 
#You have to insert 37 in 8th index and 2 in 12th index and 5 in 1000 index
#insert 37 in 8th index
ls=[1,2,3,4,5,6,7,8,9,10]
ls.insert(8,37)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 37, 9, 10]

In [ ]:
#insert 2 in 12th index
ls1=[1,2,3,4,6,7,8,9,0,11,12,13]
ls1.insert(12,2)
print(ls1)

[1, 2, 3, 4, 6, 7, 8, 9, 0, 11, 12, 13, 2]

In [ ]:
#insert 5 in 1000 index
ls1.insert(1000,5)
print(ls1)
ls1.index(5)

[1, 2, 3, 4, 6, 7, 8, 9, 0, 11, 12, 13, 2, 5]

13

In [ ]:
#extend function
ex1=[1,2,3,4,5]
ex2=[6,7,8,9,10]
ex1.extend(ex2)
ex2.extend(ex1)
print("extendind list after ex2",ex1)
print("extending list after ex1",ex2)

extendind list after ex2 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
extending list after ex1 [6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#sum
print(sum(ex2))

95

In [ ]:
#count
ct=[1,2,3,4,5,1,2,3,4,5,5,6,2,3,4,4,9,6,2,3,4,5]
print(ct.count(2))

4

In [ ]:
#sort
ct.sort()
print(ct)

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 9]

In [ ]:
#reverse
ct.reverse()

In [ ]:
ct

[9, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1]

In [ ]:
#indexing
ln=[6,7,8,9,2,3,1,4]
ln.index(3)

5

In [ ]:
ln[2]

8

In [ ]:
ln[3:7]

[9, 2, 3, 1]

In [ ]:
ln[3:8]

[9, 2, 3, 1, 4]

In [ ]:
min(ln)

1

In [ ]:
dc=[1,0.5,1.5,2,3,4,2.6,7,3,3.4,0.3]
#min
min(dc)

0.3

In [ ]:
#max
max(dc)

7

In [ ]:
#pop function
pop1=[1,2,3,4,5,6,7,8,9]
a=pop1.pop(4)
print(pop1)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]
5

In [ ]:
pop1.pop()

9

In [ ]:
#delete
delete=[1,2,3,4,5]
del delete[2]
print(delete)

[1, 2, 4, 5]

In [ ]:
#remove
remove1=[1,2,3,4,5]
b=remove1.remove(3)
print(remove1)
print(b)

[1, 2, 4, 5]
None

In [ ]:
#swapping
x=12
y=24
temp=x
print(temp)
x=y
print("x is",x)
y=temp
print("y is",y)

12
x is 24
y is 12

In [ ]:
x,y=y,x
print(x)
print(y)

12
24

In [ ]:
#To Do 
#a = 12
#b = 3
# c = 45
#Write a swapping function where a == c, b ==a, c = b
#for a==c
a=12
b=3
c=45
a,c=c,a
print(a)
print(c)

45
12

In [ ]:
#for b==a
b,a=a,b
print(a)
print(b)

3
45

In [ ]:
#for c==b
c,b=b,c
print(b)
print(c)

12
45

string

In [ ]:
name='dlitHe Institute'
course='python certification'

In [ ]:
#capitalize
name.capitalize()
print(name)

Dlithe

In [ ]:
#count function
name.count("i")

2

In [ ]:
# find function
name.find("u")

13

In [ ]:
#upper function
name.upper()

'DLITHE INSTITUTE'

In [ ]:
# lower function
name.lower()

'dlithe institute'

In [ ]:
#strip function
name.strip()

'dlitHe Institute'

In [ ]:
#isalpha function
name.isalpha()

False

In [ ]:
#isupper function
name.isupper()

False

In [ ]:
#islower function
name.islower()

False

In [ ]:
#split function
a="python is a programming language"
a.split(" ")

['python', 'is', 'a', 'programming', 'language']

In [ ]:
a.split("is")

['python ', ' a programming language']

In [ ]:
b="python"
c="language"
b+" "+c

'python language'

In [ ]:
b*3

'pythonpythonpython'

In [ ]:
a*3

'python is a programming languagepython is a programming languagepython is a programming language'

In [ ]:
str1="hello to kingdom"
len(str1)

16

In [ ]:
str1[3]

'l'

In [ ]:
#string slicing
str1[0:5]

'hello'

In [ ]:
#string replace functionstr1.replace('to','to the')
str1.replace('to','to the')

'hello to the kingdom'

# DAY 4 : 05-03-22

tuple

In [ ]:
#tuple creation and accessing 
tp=(('mango','bannana','orange','kiwi','melon','mango'))
tp[1]

'bannana'

In [ ]:
#tuple slicing
tp[0:5]

('mango', 'bannana', 'orange', 'kiwi', 'melon')

In [ ]:
tp[0:2]

('mango', 'bannana')

In [ ]:
#tuple concatenation
tup1=(1,2,3,4)
tup2=('abc',2,3,'def')
tup3=tup1+tup2
tup3

(1, 2, 3, 4, 'abc', 2, 3, 'def')

In [ ]:
t=tuple('hello world')
print(t)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [ ]:
#to-do
#create a tuple('hello','world')
ti=('hello','world')
print(ti)

('hello', 'world')

In [ ]:
m=tuple('hello')*3
print(m)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
#tuple unpacking
tp=('hello','good','people')
a,b,c=tp
print(a)
print(b)
print(c)

hello
good
people

In [ ]:
#dictionary
dic={'name':'lav','age':23}

In [ ]:
#deleting key
del dic['name']

In [ ]:
print(dic)

{'age': 23}

In [ ]:
#adding
dic['number']=23456

In [ ]:
dic['name']='jay'
print(dic)

{'age': 23, 'number': 23456, 'name': 'jay'}

In [ ]:
#poping
dic.pop('number')

23456

In [ ]:
print(dic)

{'name': 'jay'}

In [ ]:
system = dict(Brand="lenevo",model="thinkpad",year=2021)

In [ ]:
print(system)

{'Brand': 'lenevo', 'model': 'thinkpad', 'year': 2021}

In [ ]:
#copy
cp=dict(system)
print(cp)

{'Brand': 'lenevo', 'model': 'thinkpad', 'year': 2021}

In [ ]:
cp['year']

2021

In [ ]:
#nested dictionary
di={'dic1':{'name':'lav','clg':'bmsit'},'dic2':{'sub':'python'}}
di

{'dic1': {'clg': 'bmsit', 'name': 'lav'}, 'dic2': {'sub': 'python'}}

In [ ]:
#accessing 1st element of dic1 in nested dictionary
di['dic1']['name']

'lav'

In [ ]:
di

{'dic1': {'clg': 'bmsit', 'name': 'lav'}, 'dic2': {'sub': 'python'}}

In [ ]:
#clearing all elements of a dictionary
di.clear()

In [ ]:
print(di)

{}

 


# looping



It is a kind of decision making forum where we can decide wherether to keep that statement or

In [ ]:
#if condition syntax
if condition:
  Statement 1 
  stat2

stat3

else :
  stat4

In [ ]:
if(True):
  print("hi lavanya")

hi lavanya

In [ ]:
#i is assigned to 35,in if condition we are checking whether i is less then 25.if condition is true then if condition block is printed orelse else block is printed
i=35
if(i<25):
  print("i is less then 25")

print("im not in if block")

im not in if block

In [ ]:
#false block is not printed
if(False):
  print('this is false block')

In [ ]:
i=5
if(i<25):
  print("i is less then 25")

print("im not in if block")

i is less then 25
im not in if block

In [ ]:
## To - do 
 # Specify what it is doing
 # Also mention and clear errors
if string=='parade':
  print('hello')
  string = string*3
  print(string)

#string is assinged to parade
#we are comparing whether string is parade
#if condition is true,hello is printed and string is multiplied with 3 
#finally string value is printed
#errors indentation was not proper

hello
paradeparadeparade

if else **conditon**

In [ ]:
i = 20 
if (i<15):
  print("i is smaller than 15")
  print("I am in if block")

else:
  print("i is greater or equal to 15")
  print("i am in else block ")

i is greater or equal to 15
i am in else block

In [ ]:
if(True):
  print('welcome to my home')
else:
  print("dont come")

welcome to my home

In [ ]:
s='bmsit'
if s == 'bmsit':
  print("bmsit student")
else:
  print("otside student")

bmsit student

In [ ]:
# Nested if-else
# add all the comments
i = 4
if (i == 40):
  if(i<=15):
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller than 12 too")

  else:
    print('i is greater than 15')

else:
  print('i is not 40')

#i is 4,in first condition i is compared to 40 .condition failed so else part is executed without entering if condition block

i is not 40

# DAY 5 : 07-03-22

In [ ]:
#if-elif-else ladder
if(condition):
  statements...

elif(condition):
  statements

else:
  statements

In [ ]:
#to print whether number is positive,zero or negative
n=0
if n>0:
  print("positive number")
elif n == 0:
  print("zero")
else:
  print("negative number")

zero

In [ ]:
i = 100
if (i == 20):
  print('i is equal to 20')
  print('we are in if block')

elif ( i == 15):
  print('i is 15')
  print('we are i elif(1) block')

elif( i == 10):
  print('i is 10')
  print('we are in elif(2) block')

else:
  print('i is equal to nothing')
  print('i is in else block')

i is equal to nothing
i is in else block

In [ ]:
#short hand if - statement
if condition:statement

In [ ]:
i = 10
if i == 10: print('it is less than 10')

it is less than 10

In [ ]:
# to-do
#you have to explore if-else short hand code
#else - i is greater than or equal to 10
i = 10
if i < 10: print('it is less than 10')
else: print('i is greater than or equal to 10')

i is greater than or equal to 10

**For Loop**

In [ ]:
#printing elements of list
k=[1,2,3,4,5]
for i in k:
  print(i)

1
2
3
4
5

In [ ]:
#printing a string
s='lavanya'
for i in s:
  print(i)

l
a
v
a
n
y
a

In [ ]:
s='hello'
c=0
for i in s:
  print(i,"is in index",c)
  c=c+1

h is in index 0
e is in index 1
l is in index 2
l is in index 3
o is in index 4

In [ ]:
l = ['tomato','onion','brinjal', 'banana']

for i in l:
  for j in i:
    print(j)

t
o
m
a
t
o
o
n
i
o
n
b
r
i
n
j
a
l
b
a
n
a
n
a

In [ ]:
#to-do replace banana to mushroom and print the new list
l = ["apple","mango","banana",]
l1 = [i.replace("banana","mushroom") for i in li]
print(l1)

['apple', 'mango', 'mushroom']

In [ ]:
#taking input from user
s=input()

123

In [ ]:
print(1)

1

In [ ]:
#taking string as input
s = str(input())

lav

In [ ]:
type(s)

str

In [ ]:
#taking list as input
s = list(input())

12 13 14

In [ ]:
print(s)

['1', '2', ' ', '1', '3', ' ', '1', '4']

In [ ]:
# to do 
# come is improvization

s=list(input().split(" "))
print(s)

12 13 14
['12', '13', '14']

In [ ]:
print(type(s))

<class 'list'>

In [ ]:
#printing string which is taken from user
s = str(input())
for i in s:
  print(i)

lavanya
l
a
v
a
n
y
a

In [ ]:
#accessing key and value both
d = dict()
d['a'] = 123
d['b'] = 514
for i in d:
  print(i,d[i])

a 123
b 514

In [ ]:
#break : used to terminate the current loop
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    break
print('current letter',letter)

current letter w

In [ ]:
#pass : it is a null statement ,nothing will happen
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    pass
  print('current letter',letter)

current letter w
current letter h
current letter e
current letter n
current letter a
current letter r
current letter e
current letter y
current letter o
current letter u
current letter o
current letter l
current letter d

In [ ]:
#continue : used to skip rest of the statements in the loop
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    continue
  print('current letter',letter)

current letter h
current letter n
current letter a
current letter r
current letter y
current letter o
current letter u
current letter o
current letter l
current letter d

Range of a loop

In [ ]:
#range(starting point,end point,iteration)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
s = [10,20,30,40]

for i in range(len(s)):
  print(s[i],end = "\t ")

10	 20	 30	 40

In [ ]:
for i in range(5):
  print("lavanya")

lavanya
lavanya
lavanya
lavanya
lavanya

In [ ]:
# To-do

# perform the sum of first 10 natural numbers
sum = 0
for i in range(10):
  sum=sum+i
  i+=1
print(sum)

45

**while loop**

In [ ]:
while expression:
  statemnet(s)

In [ ]:
#while
c = 0
while(c<3):
  c+=1
  print('hello',c)

hello 1
hello 2
hello 3

In [ ]:
#poping all elements
a = [1,2,3,4]

while a:
  print(a.pop())

print(a)

4
3
2
1
[]

In [ ]:
#skiping few letters
#continue

i = 0
a = 'hellolavanya'

while i < len(a):
  if a[i] == 'l':
    i+=1
    continue
  print('current letter',a[i])
  i+=1

current letter h
current letter e
current letter o
current letter a
current letter v
current letter a
current letter n
current letter y
current letter a

In [ ]:
#pass
i = 0
a = 'hellolavanya'

while i < len(a):
  if a[i] == 'l':
    i+=1
    pass
  print('current letter',a[i])
  i+=1

current letter h
current letter e
current letter l
current letter o
current letter a
current letter v
current letter a
current letter n
current letter y
current letter a

In [ ]:
#break
i = 0
a = 'hellolavanya'

while i < len(a):
  if a[i] == 'l':
    i+=1
    break
  print('current letter',a[i])
  i+=1

current letter h
current letter e

# DAY 6 : 08-03-22

In [ ]:
#zip coding
questions = ['name','color','shape']
answers = ['apple','red','circle']

for questions,answers in zip(questions,answers):
  print('what is your{0}? I am{1}.'.format(questions,answers))

what is yourname? I amapple.
what is yourcolor? I amred.
what is yourshape? I amcircle.

In [ ]:

s=0
for i in l:
  s=s+1

1 2 3 4

TypeError: ignored

In [ ]:
#map function
l = map(list(input()))

12 12

TypeError: ignored

In [ ]:

a = list(map(int, input().split(' ')))

12 34 45

In [ ]:
print(a)
sum(a)

[12, 34, 45]

91

**functions**

In [ ]:
def sum(x):
  for i in x:
    sum = sum + i
    return sum

sum(a)

In [ ]:
def evenodd(x):
  if (x%2 == 0) :
    print('even function')
  else:
    print('old function')

In [ ]:
evenodd(2)

even function

In [ ]:
evenodd(9)

old function

In [ ]:
#function to find square of a number
def square_value(n):
  return n**2

print(square_value(5))

25

In [ ]:
list = [1,2,3,4,5,6,9.5,'ab',0,8,'world',0,9,3,4,'city',9,5,6,5]
# to-do
#find the sum of list and remove string data type
list.remove()

TypeError: ignored

In [ ]:
#remove string and find sum of integers
list1 = [1,2,3,4,5,'a',2.3,6.2,'b',9,8]
sum=0
for i in list1:
  if type(i) == int:
    sum += i
print(sum)

32

**Lambda Functions**

it is an anonymous function and used for writing one line code

lambda arguments : Expression

In [ ]:
#lambda function
x = lambda a : a+5
print(x(22))
print(x(45))

27
50

In [ ]:
def db(n):
  return lambda x:x*n

num = db(2)
print(num(10))

20

In [ ]:
#separators
print('08','03','2022',sep = '-')
print('08','03','2022',sep = '*')
print('08','03','2022',sep = '/')

08-03-2022
08*03*2022
08/03/2022

# DAY 7 : 10-03-22

**Pandas**

In [ ]:
#installation
!pip3 install pandas
!pip3 install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
#importing the library

import pandas as pd
import numpy as np

In [ ]:
#series
data = [1,2,3,4,5]

d = pd.Series(data)
print(d)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data = [1,2,3,4,5,'m']

d = pd.Series(data)
print(d)

0    1
1    2
2    3
3    4
4    5
5    m
dtype: object

In [ ]:
#missing values
s = pd.Series([1,2,3,np.nan,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#nd array
da = [[1,2,3],[4,5,6]]

s = pd.Series(da)
print(s)

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

In [ ]:
#dataframe

data = [1,2,3,4,5]

df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
s1 = pd.Series([1,3,4,5,6,2,9])
s2 = pd.Series([1.1,3.5,4.7,5.8,2.9,9.3])
s3 = pd.Series(['a','b','c','d','e'])

data = {'first':s1, 'second':s2, 'third':s3}
dfseries = pd.DataFrame(data)
print(dfseries)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN

In [ ]:
#converting dataframe to csv
dfseries.to_csv('basic.csv')

In [ ]:
#readind data from csv
a = pd.read_csv('basic.csv')
print(a)

   Unnamed: 0  first  second third
0           0      1     1.1     a
1           1      3     3.5     b
2           2      4     4.7     c
3           3      5     5.8     d
4           4      6     2.9     e
5           5      2     9.3   NaN
6           6      9     NaN   NaN

In [ ]:
from pandas.core.arrays.categorical import Categorical
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D':np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['test','train','train','test'])})

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
#viewing data

#accending order
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#decending order
df.tail()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#decending order
df.tail(2)

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#index
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
#columns
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
#describe function
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#accessing particular columns
df['C']

0    1
1    1
2    1
3    1
Name: C, dtype: int64

In [ ]:
#from label
df.loc[:,['A','C']]

   A  C
0  1  1
1  2  1
2  3  1
3  4  1

In [ ]:
df.loc[:,:]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#from position
df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
#from 0-2 row and 3-4 column
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
#filtration
df[df['A']>2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
#mssing value handling
isnull()
dropna()
fillna()
isna(na)

In [ ]:
#mean function
df = pd.Series([1,2,3,np.nan,4,5])
df.mean()

3.0

In [ ]:
#shift
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
#making cumulative object
df.apply(np.cumsum)

0    [nan]
1    [nan]
2    [1.0]
3    [2.0]
4    [3.0]
5    [nan]
dtype: object

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['education','is','importent',np.nan])

In [ ]:
#upper function
s.str.upper()

0    EDUCATION
1           IS
2    IMPORTENT
3          NaN
dtype: object

In [ ]:
#lower function
s.str.lower()

0    education
1           is
2    importent
3          NaN
dtype: object